<launch>


<arg name="rbname" default="tetra1bd" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="mocap_server" default="192.168.0.101" />



    <!-- FCU url to local simulation-->
    <!-- <arg name="fcu_url" default="udp://:14540@localhost:14557" /> -->

    <!-- MAVROS-->
    <!-- <include file="$(find px4)/launch/mavros_posix_sitl.launch"> -->
        <!-- <arg name="fcu_url" value="$(arg fcu_url)" /> -->
    <!-- </include> -->


<!-- <include file="$(find vrpn_client_ros)/launch/sample.launch" > -->
<!--		<arg name="server" default="$(arg mocap_server)" /> -->
<!--	</include> -->

<include file="$(find vrpn_client_ros)/launch/sample.launch" >
		<arg name="server" default="$(arg mocap_server)" />
	</include>



	<!-- <node pkg="topic_tools" type="relay" name="mocap_topic_relay" args="/vrpn_client_node/$(arg rbname)/pose /tetra1/mavros/vision_pose/pose" /> -->
	 <node pkg="topic_tools" type="relay" name="mocap_topic_relay" args="/vrpn_client_node/$(arg rbname)/pose /tetra1/mavros/vision_pose/pose" />


<node pkg="adaptive_tetra" type="setpoint_v2_node.py" name="setpoint_v2_node" output="screen"> 
 </node> 



</launch>
